body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

img {
    max-width: 100%
}

#p_loading,
.p_loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
    background-color: #dadada
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite
}

.parpadea1only {
    animation-iteration-count: forwards;
    -webkit-animation-iteration-count: forwards
}

.parpadea2only {
    animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2
}

.parpadea3only {
    animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.ladea {
    animation-name: ladea;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%
}

@keyframes ladea {
    0% {
        transform: rotateY(0);
        animation-timing-function: cubic-bezier(.25, .25, .75, .75)
    }
    10% {
        transform: rotateY(5deg)
    }
    20% {
        transform: rotateY(-5deg)
    }
    30% {
        transform: rotateY(5deg)
    }
    40% {
        transform: rotateY(-5deg)
    }
    50% {
        transform: rotateY(5deg)
    }
    60% {
        transform: rotateY(0)
    }
    100% {
        transform: rotateY(0)
    }
}

.temblor:hover {
    animation: temblor .82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}

@keyframes temblor {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0)
    }
}

.temblor_inf {
    animation: temblor_inf 2s;
    animation-iteration-count: infinite
}

@keyframes temblor_inf {
    0% {
        transform: translate(1px, 1px) rotate(0)
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        transform: translate(-3px, 0) rotate(1deg)
    }
    30% {
        transform: translate(3px, 2px) rotate(0)
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        transform: translate(-3px, 1px) rotate(0)
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg)
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        transform: translate(1px, 2px) rotate(0)
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

.p_modal img {
    max-width: 100%;
    max-height: 20vh
}

.p_modal {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif
}

.p_modal h2 {
    color: #575757;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    display: block
}

.p_modal p {
    color: #797979;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 10px 0;
    padding: 0;
    line-height: normal
}

.p_modal_button {
    display: inline-block;
    box-shadow: rgba(140, 212, 245, .8) 0 0 2px, rgba(0, 0, 0, .0470588) 0 0 0 1px inset;
    background-color: #8cd4f5;
    color: #fff;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 16px 5px 0;
    cursor: pointer
}

.checkmark {
    display: none
}

.checkmark.draw:after {
    animation-duration: .8s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg)
}

.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: "";
    left: 1.75em;
    top: 3.5em;
    position: absolute
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1
    }
}

.circle-loader {
    border: 1px solid rgba(0, 0, 0, .2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border .5s ease-out
}

@keyframes loader-spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.confeti {
    position: relative;
    min-height: 100vh;
    overflow: hidden
}

[class|=confetti] {
    position: absolute
}

.red {
    background-color: #e94a3f
}

.yellow {
    background-color: #faa040
}

.blue {
    background-color: #5fc9f5
}

.content {
    background: linear-gradient(to bottom, black 0, #3c3583 5%, white 10%, #876dc9 15%, #b25fa7 50%, white 85%, #c03faf 90%, #e1a5b7 95%, #000000 100%)
}

.text-primary {
    color: #bc42a4
}

.header {
    color: #fff;
    padding: 10px
}

.header p {
    background: right center no-repeat;
    margin: 0 0 0 10px
}

.header img {
    max-width: 44vw;
    max-height: 50px
}

.content {
    padding: 10px
}

.flag {
    background: 98% 20px no-repeat #fff
}

.main-content {
    padding: 10px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.main-content h2 {
    margin: 20px 0;
    font-weight: 700
}

.main-content p {
    line-height: 18px;
    margin: 10px 0
}

.header_flex_item {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    width: 50%
}

.ft {
    float: right
}

.title_h1 {
    font-family: open sans, HelveticaNeue, helvetica neue, Helvetica, Arial, sans-serif
}

.caja_premio.flex-counter {
    border-top: 2px solid #e3e3e3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    margin: 15px 0 25px
}

.caja_premio .flex-counter--text {
    font-size: 1.3rem !important
}

.caja_premio .flex-counter--text .counter--number {
    font-size: 1.6rem !important
}

.caja_premio .flex-counter {
    padding: 0 1rem !important
}

#breaking-news-container {
    border-radius: 10px 10px 0 0
}

.principal_bg {
    background-size: cover;
    border-radius: 20px
}

@media(max-width:400px) {
    .title_h1 {
        font-size: 20px
    }
}

body.with_background {
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed
}

body.with_background .content {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 14%
}

@media(max-width:800px) {
    body.with_background {
        background-repeat: no-repeat;
        background-size: contain
    }
    body.with_background .content {
        margin-top: 19%
    }
}

.survey_button,
.survey_button2,
.name,
.profile {
    cursor: pointer
}

#comment1,
#comment2,
#comment3,
#comment4,
#comment5,
#comment6,
#content2,
#content3,
#q2,
#q3,
#q4,
#q5,
#result1,
#result2,
#result3 {
    display: none
}

.survey_button,
.survey_button2,
.loading {
    text-align: center
}

.survey_button,
.main-content {
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.name,
.result {
    font-weight: 700
}

p.question {
    font-size: 15px
}

.survey_button {
    border: 2px solid #f0f0f0;
    color: #fff;
    padding: 5px 0;
    margin: 5px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .74)
}

.main-content .result {
    margin: 0;
    padding: 5px 0 5px 25px
}

.survey_button2 {
    background-color: red;
    font-size: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 1px 4px 0 #000
}

.survey_button {
    background-color: #bc42a4
}

.boxes,
.boxes cbox,
.boxes .try img {
    width: 100%
}

.instructions {
    padding: 10px;
    background-color: #e11e26;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px
}

.boxes {
    margin: 10px auto;
    max-width: 800px
}

.box-o-t {
    position: absolute;
    top: -34%
}

.boxes .discover .box-o-b {
    z-index: 1;
    position: relative
}

.boxes .iphone {
    width: 76%;
    height: auto;
    position: absolute;
    z-index: 0;
    top: -20%;
    left: 12%;
    -webkit-transition-duration: .7s;
    transition-duration: .7s
}

.boxes .discover>.iphone {
    top: -60%
}

.boxes>.try {
    position: relative;
    display: inline-block;
    width: 23.8%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer
}

@media(max-width:767px) {
    .boxes>.try {
        width: 32.5%
    }
    .boxes>.try:nth-child(-n+4) {
        display: none
    }
}

@media(max-width:479px) {
    .boxes>.try {
        width: 32%
    }
}

@media(max-width:319px) {
    .boxes>.try {
        width: 48%
    }
    .boxes>.try:nth-child(-n+5) {
        display: none
    }
}

.div_img_gift {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center
}

.img_gift {
    display: none;
    width: 70%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    margin: 0 auto
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes tapa_superior {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.boxes {
    background-size: cover;
    border-radius: 20px;
    position: relative;
    text-align: center
}

.try {
    position: relative;
    margin: 20px 0
}

.try>div {
    position: absolute
}

.try .caja {
    position: relative
}

.caja_trasera {
    z-index: 1
}

.caja_tapa {
    z-index: 3
}

.caja {
    z-index: 2
}

.caja_gift {
    z-index: 1
}

.boxes .try.abierta>.caja_tapa {
    animation: tapa_superior 2s forwards
}

.boxes .try.premiazo>.caja_gift {
    animation: tapa_superior 4s infinite alternate
}

@keyframes tapa_superior {
    from {
        top: 0
    }
    to {
        top: -40px
    }
}

@media(max-width:500px) {
    @keyframes tapa_superior {
        from {
            top: 0
        }
        to {
            top: -30px
        }
    }
}

.boxes {
    background-image: url(box-bigbg.jpg)
}

.comments_face * {
    font-family: roboto, sans-serif !important
}

.comments_face {
    background-color: #fff;
    font-size: 14px
}

.comments_face .comments {
    background-color: #eeeff4;
    border-bottom: 2px solid #fff;
    padding: 10px
}

.comments_face .profile {
    float: left;
    width: 60px;
    margin-right: 10px
}

.comments_face .comment-content img,
.comments_face .profile img {
    width: 100%
}

.comments_face .comment-content img,
.comments_face .profile img,
.comment-status img {
    margin: 0 auto
}

.comments_face .comment-content {
    padding-left: 70px
}

.comments_face .name {
    margin: 0
}

.comments_face .comment-status span,
.comments_face .name {
    color: #3b5998
}

.comments_face .name,
.comments_face .result {
    font-weight: 700
}

.comments_face .button,
.comments_face .name,
.comments_face .profile {
    cursor: pointer
}

.comments_face .comment-status {
    font-size: 11px;
    cursor: pointer
}

.comments_face .comment-status span,
.comments_face .name {
    color: #3b5998
}

.comments_face .button,
.comments_face .main-content span {
    color: red
}

.comments_face .clr {
    clear: both
}